body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.button {
    margin-top: 10px;
    align-self: flex-end;
    margin-left: 700px;
    
  
}

